.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.center-element {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.link {
  text-decoration: none;
}

.pointer:hover {
  cursor: pointer;
}

.card {
  border: solid 2px gray;
  box-shadow: 0px 0px 2px;
  width: 250px;
  max-width: 250px;
  padding: 20px;
  font-family: "Oswald", sans-serif;
}

.card input {
  margin: 5px;
  border-radius: 4px;
  border: 1px solid;
  width: 230px;
  height: 40px;
  font-size: 1.18rem;
  font-family: "Oswald", sans-serif;

}

.card input:focus {
  border-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary {
  background: #80b3ff;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navbar {
  width: 100%;
  background: #ff9933;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-links li {
  list-style-type: none;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  margin: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-user {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 40px;
}

.logout-btn {
  background: none;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 0;
  padding: 0;
}

.profile {
  font-family: "Oswald", sans-serif;
}

.profile-form input {
  margin: 10px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.btn-delete {
  background: red;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.btn-danger {
  background: red;
  color: #fff;
}


.alert {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
	background: red;
	border: none;
  width: 25px;
  height: 25px;
  float: right;
  color: #fff;
	cursor: pointer;
}